.body{
      font-family: roboto, arial;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgb(231, 198, 222) 0%,
                    rgb(231, 198, 222) 50%, white 50%, white 100% );
    
    }
    .page-body{
      background-image:rgb(231, 198, 222) ;
    
    }
    @media only screen and (max-width:500px){
      .middle-section{
        flex-direction: column;
      }
      .header{
        flex-direction: column;
      }
      .right-header{
        background-color: white;
        padding: 10px;
      }
      
      
    }
    .middle-section{
      display: flex;
    
    align-items: center;
    justify-content: center;
    }
    .picture{
      width: 150px;
      height:150px;
      border-radius: 75px;
    }
   .profile-image{
      width: 150px;
      height:150px;
      
   }
   .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 198, 222);
    height: 400px;
    width: 250px;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.15);
    border-radius: 10px;

   }
   .name{
      font-size: 30px;
      font-weight: bolder;
      width: 60px;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
      
   }
   .line{
     border-top: 1.5px solid rgb(158, 62, 158);
    width: 85px;
    margin-bottom: 20px;
  }
  .description{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }
  .left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 300px;
  }
  .hello{
    font-size: 60px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .short-text{
     font-size: 20px;
    font-weight:500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .resume-button{
    background-color: #6076c0; 
    color:white;
    border:none;
    height:26px;
    width:90px;
    border-radius: 18px;
    
    font-size: 11px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.5s;
    vertical-align: top;
  }
  .projects-button{
    color:rgb(0, 0, 0);
    border:none;
    height:26px;
    width:90px;
    border-radius: 18px;
    border: 1px solid ;
    background-color: white;
    font-size: 11px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.5s;
    vertical-align: top;
  }
  .essay{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    
  }
  .media-panel{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    
    
  }
  .desc-side{
    display:grid;
    
  }
  .footer{
    background-color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  .left{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 10px;

  }
  .right{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: 10px;
    width: 190px;
  }
  .header{
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 100;
  }
  .left-header{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
     padding-left: 2px
      
  }
  .right-header{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }
  .job{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    
  }
  .names{
    font-weight: bold;
    font-size: 19px;
  }
  .solid-square {
  width: 20px; 
  height: 20px; 
  background-color: #6076c0; 
  }
  .tags{
    font-size: 12px;
  }
  .resume{
    position:absolute;
    top: 130px;
    left: 1fr;
    right: 1fr;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22px;
  }
  .experience{
     font-weight: bold;
    font-size: 19px;
    position:absolute;
    top: 200px;
    left: 100px;
    right: 1fr;
  }
  .job-desc{
     margin-top: 170px;
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: space-between;
    height: 700px;
    width: 500px;

  }
  .work{
    background-color: white;
    height: 120px;
    width: 250px;
     box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
     padding-left: 20px;
     padding-top: 20px;
     justify-content: space-between;
     align-items: center;
  }
  .year{
    font-size: 22px;
    color: #6076c0;
    font-weight: bolder;
  }
  .education{
    font-weight: bold;
    font-size: 19px;
    position:absolute;
    top: 1000px;
    left: 100px;
    right: 1fr;
  }
  .contact{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    
  }
  .logo{
    height: 400px;
    width: 50px;
  }

  
